In [8]:
import pandas as pd
from IPython.display import display, HTML, Math

df = pd.read_excel("./torzskonyv_explode.xlsx")
# df = df[(df['ok']==True) & (df['drop']==False)]
df

,index,entry,year,Megszerzés ideje,ok,drop,inventory_name
0,0,2209-2211 Amerika gyűjtemény,1874.0,1874,True,False,Amerika gyűjtemény
1,0,2216-2217 Amerika gyűjtemény,1874.0,1874,True,False,Amerika gyűjtemény
2,0,2222 Amerika gyűjtemény,1874.0,1874,True,False,Amerika gyűjtemény
3,0,2223-2253 Amerika gyűjtemény,1874.0,1874,True,False,Amerika gyűjtemény
4,0,2256-2258 Óceánia gyűjtemény,1874.0,1874,True,False,Óceánia gyűjtemény
...,...,...,...,...,...,...,...
38458,11767,2021.23.1 Bútor gyűjtemény,2005.0,2005,True,False,Bútor gyűjtemény
38459,11767,[...],2005.0,2005,True,True,NaN
38460,11768,??? Halászat gyűjtemény,2021.0,2021-03-05 00:00:00,False,False,NaN
38461,11769,??? Bútor gyűjtemény,NaN,NaN,False,False,NaN
38462,11770,??? Textil gyűjtemény,2021.0,2021-05-10 00:00:00,False,False,NaN

In [9]:
import re
def extract_count(cell):
    matches = [m for m in re.findall("(\d+)-(\d+)", cell)]
    if not matches:
        return 1

    first, last = matches[0]
    return int(last)-int(first)+1 
    return 1

assert extract_count("2222 Amerika gyűjtemény") == 1
assert extract_count("2209-2211 Amerika gyűjtemény") == 2211-2209+1, extract_count("2209-2211 Amerika gyűjtemény")
assert extract_count("2021.15.1 Földművelés gyűjtemény") == 1
assert extract_count("6563-6598 (F244-F279) Fényképgyűjtemény") == 6598-6563+1
assert extract_count("2021.21.1-2 Európa gyűjtemény") == 2

df['count'] = df['entry'][(df['ok']==True) & (df['drop']==False)].apply(extract_count)

df.to_excel("./torzskonyv_explode_count.xlsx", index=False)
pd.read_excel("./torzskonyv_explode_count.xlsx")

,index,entry,year,Megszerzés ideje,ok,drop,inventory_name,count
0,0,2209-2211 Amerika gyűjtemény,1874.0,1874,True,False,Amerika gyűjtemény,3.0
1,0,2216-2217 Amerika gyűjtemény,1874.0,1874,True,False,Amerika gyűjtemény,2.0
2,0,2222 Amerika gyűjtemény,1874.0,1874,True,False,Amerika gyűjtemény,1.0
3,0,2223-2253 Amerika gyűjtemény,1874.0,1874,True,False,Amerika gyűjtemény,31.0
4,0,2256-2258 Óceánia gyűjtemény,1874.0,1874,True,False,Óceánia gyűjtemény,3.0
...,...,...,...,...,...,...,...,...
38458,11767,2021.23.1 Bútor gyűjtemény,2005.0,2005,True,False,Bútor gyűjtemény,1.0
38459,11767,[...],2005.0,2005,True,True,NaN,NaN
38460,11768,??? Halászat gyűjtemény,2021.0,2021-03-05 00:00:00,False,False,NaN,NaN
38461,11769,??? Bútor gyűjtemény,NaN,NaN,False,False,NaN,NaN
38462,11770,??? Textil gyűjtemény,2021.0,2021-05-10 00:00:00,False,False,NaN,NaN

In [10]:
# Suspicious
print("-- stats --")

print("ok:", sum((df['ok']==True) & (df['drop']==False)))

no_date_filter = df['year'].isna()
print( "no date:", sum(no_date_filter) )

bad_filter = (df['ok']==False) & (df['drop']==False)
print("bad: ", sum(bad_filter))

print("  (bad and no date: ", sum(bad_filter | no_date_filter), ")")

negative_count_filter = df['count']<=0
print("negative count:",sum(negative_count_filter))

large_count_filter = df['count']>500
print("count over 500: {}".format(sum(large_count_filter)))

print("sum(count):",  "{:,}".format(df['count'].sum()))

-- stats --
ok: 26692
no date: 328
bad:  2075
  (bad and no date:  2393 )
negative count: 27
count over 500: 52
sum(count): 981,307.0

In [11]:
from collections import Counter
Counter(df['inventory_name'])

Counter({'Amerika gyűjtemény': 365,
         'Óceánia gyűjtemény': 416,
         nan: 11771,
         'Ázsia gyűjtemény': 1024,
         'Indonézia gyűjtemény': 268,
         'Fényképgyűjtemény': 1832,
         'Adattár': 24,
         'Rajzgyűjtemény': 44,
         'Afrika gyűjtemény': 780,
         'Európa gyűjtemény': 948,
         'Bútor gyűjtemény': 1780,
         'Textil gyűjtemény': 5138,
         'Hangszer gyűjtemény': 469,
         'Földművelés gyűjtemény': 1271,
         'Állattartás gyűjtemény': 1903,
         'Mesterség gyűjtemény': 1881,
         'Kerámia gyűjtemény': 2601,
         'Egyházi gyűjtemény': 644,
         'Táplálkozás gyűjtemény': 2333,
         'Szokás gyűjtemény': 1300,
         'Gyűjtögetés gyűjtemény': 387,
         'Halászat gyűjtemény': 389,
         'Építkezés gyűjtemény': 196,
         'Közlekedés gyűjtemény': 437,
         'Nyomatgyűjtemény': 17,
         'Nyomat gyűjtemény': 1,
         'Átány gyűjtemény': 36,
         'Szokás hagyomány': 83,
         'Hagyomány gyűjtemény': 125})

In [12]:
# sorted(df['year'].unique())
unique_inventories = sorted( df[(df['ok']==True) & (df['drop']==False)]['inventory_name'].unique() )

df3 = df[['inventory_name', 'year', 'count']].groupby(by=["year", "inventory_name"], axis=0).sum()
df3.unstack()
# df3.unstack()

                 count                                                        \
inventory_name Adattár Afrika gyűjtemény Amerika gyűjtemény Bútor gyűjtemény
year
1874.0            26.0               4.0               49.0              NaN
1875.0             NaN               NaN               49.0              NaN
1876.0             NaN               NaN                7.0              NaN
1879.0             NaN              11.0                NaN              NaN
1880.0             NaN               NaN                NaN              NaN
...                ...               ...                ...              ...
2017.0             NaN              78.0                4.0              1.0
2018.0             NaN              70.0                9.0              9.0
2019.0             NaN              84.0              127.0             51.0
2020.0             NaN               1.0                2.0             13.0
2021.0             NaN               NaN                NaN              NaN

                                                                       \
inventory_name Egyházi gyűjtemény Európa gyűjtemény Fényképgyűjtemény
year
1874.0                        NaN              58.0             172.0
1875.0                        NaN               NaN               NaN
1876.0                        NaN               NaN               NaN
1879.0                        NaN               NaN               NaN
1880.0                        NaN               NaN               NaN
...                           ...               ...               ...
2017.0                        NaN              35.0               NaN
2018.0                        8.0               5.0               NaN
2019.0                       16.0              51.0               NaN
2020.0                        1.0              28.0               NaN
2021.0                        NaN               NaN               NaN

                                                              \
inventory_name Földművelés gyűjtemény Gyűjtögetés gyűjtemény
year
1874.0                            NaN                    NaN
1875.0                            NaN                    NaN
1876.0                            NaN                    NaN
1879.0                            NaN                    NaN
1880.0                            NaN                    NaN
...                               ...                    ...
2017.0                           35.0                    1.0
2018.0                            4.0                    NaN
2019.0                            4.0                    NaN
2020.0                            1.0                    1.0
2021.0                            NaN                    NaN

                                     ...                                   \
inventory_name Hagyomány gyűjtemény  ... Rajzgyűjtemény Szokás gyűjtemény
year                                 ...
1874.0                          NaN  ...            1.0               NaN
1875.0                          NaN  ...            NaN               NaN
1876.0                          NaN  ...            NaN               NaN
1879.0                          NaN  ...            NaN               NaN
1880.0                          NaN  ...            NaN               NaN
...                             ...  ...            ...               ...
2017.0                          NaN  ...            NaN              16.0
2018.0                          NaN  ...            NaN             103.0
2019.0                          NaN  ...            NaN              21.0
2020.0                          NaN  ...            NaN              43.0
2021.0                          NaN  ...            NaN               1.0

                                                                          \
inventory_name Szokás hagyomány Textil gyűjtemény Táplálkozás gyűjtemény
year
1874.0                      NaN               NaN                    NaN
1875.0                      NaN               NaN                    NaN
1876.0                      NaN               NaN                    NaN
1879.0                      NaN               NaN                    NaN
1880.0                      NaN               NaN                    NaN
...                         ...               ...                    ...
2017.0                      NaN             229.0                    NaN
2018.0                      NaN              62.0                    7.0
2019.0                      NaN             132.0                    5.0
2020.0                      NaN             173.0                    3.0
2021.0                      NaN               NaN                    NaN

                                                                         \
inventory_name Állattartás gyűjtemény Átány gyűjtemény Ázsia gyűjtemény
year
1874.0                            NaN              NaN           1537.0
1875.0                            NaN              NaN              NaN
1876.0                            NaN              NaN              2.0
1879.0                            NaN              NaN             25.0
1880.0                            NaN              NaN              1.0
...                               ...              ...              ...
2017.0                            NaN              NaN             23.0
2018.0                            NaN              NaN             31.0
2019.0                            3.0              NaN              7.0
2020.0                            NaN              NaN              NaN
2021.0                            NaN              NaN              NaN


inventory_name Építkezés gyűjtemény Óceánia gyűjtemény
year
1874.0                          NaN               13.0
1875.0                          NaN                1.0
1876.0                          NaN                NaN
1879.0                          NaN            -2298.0
1880.0                          NaN                NaN
...                             ...                ...
2017.0                          3.0               32.0
2018.0                          NaN                1.0
2019.0                          NaN                NaN
2020.0                          NaN                NaN
2021.0                          NaN                NaN

[143 rows x 28 columns]

In [13]:
df[(df['year']==2018) & (df['inventory_name']=="Amerika gyűjtemény")]

,index,entry,year,Megszerzés ideje,ok,drop,inventory_name,count
37756,11461,2018.162.1-2 Amerika gyűjtemény,2018.0,2018-03-23 00:00:00,True,False,Amerika gyűjtemény,2.0
37786,11475,2018.28.1 Amerika gyűjtemény,2018.0,2018-04-26 00:00:00,True,False,Amerika gyűjtemény,1.0
37949,11536,2019.31.1-6 Amerika gyűjtemény,2018.0,2018-08-23 00:00:00,True,False,Amerika gyűjtemény,6.0

In [14]:
df_register

NameError: name 'df_register' is not defined